In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score, precision_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler 
from sklearn import svm

data=pd.read_csv("/content/iris.data.csv.txt", sep=',')
data

     sepal length  sepal width  petal length  petal width         outcome
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
data["outcome"].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: outcome, dtype: int64

In [7]:
data.groupby('outcome').mean()

                 sepal length  sepal width  petal length  petal width
outcome
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [8]:
data.isnull().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
outcome         0
dtype: int64

In [9]:
data.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width',
       'outcome'],
      dtype='object')

In [10]:
data['outcome']=data['outcome'].map({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2})
data

     sepal length  sepal width  petal length  petal width  outcome
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [11]:
x=data[['sepal length','sepal width','petal length','petal width']]
y=data['outcome']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=30)

In [12]:
#KNN CLASSIFIER

knn=KNeighborsClassifier(n_neighbors=19)
knn.fit(x_train,y_train) 
y_pred=knn.predict(x_test)  
print('Acuuracy knn =',accuracy_score(y_test,y_pred))
print('F1 Score knn =',f1_score(y_test,y_pred,average='weighted'))
scores = cross_val_score(knn, x, y, cv=5) #scoring='f1_macro'
print("%0.2f accuracy with a standard deviation of %0.2f for knn" % (scores.mean(), scores.std()))

Acuuracy knn = 1.0
F1 Score knn = 1.0
0.97 accuracy with a standard deviation of 0.03 for knn

In [13]:
#KNN CLASSIFIER NORMALIZED 

scaler = StandardScaler()
nx = scaler.fit_transform(x)
x_train1, x_test1, y_train1, y_test1 = train_test_split (nx,y, test_size=0.2 ,random_state=30 )
knn.fit(x_train1,y_train1)
y_pred1 = knn.predict(x_test1)

print('Accuracy knn normalized : ', accuracy_score(y_test1,y_pred1))
print('f1_score knn normalized : ', f1_score(y_test1,y_pred1, average="weighted"))
scores = cross_val_score(knn, nx, y, cv=5) 
print("%0.2f accuracy with a standard deviation of %0.2f for knn normalized" % (scores.mean(), scores.std()))

Accuracy knn normalized :  0.9666666666666667
f1_score knn normalized :  0.9665634674922601
0.95 accuracy with a standard deviation of 0.03 for knn normalized

In [14]:
#SVM CLASSIFIER

model = svm.SVC(kernel='poly')
model.fit(x_train,y_train)
y_pred2 = model.predict(x_test)

print('Accuracy SVM : ', accuracy_score(y_test,y_pred2))
print('f1_score SVM : ', f1_score(y_test,y_pred2,average='weighted'))
scores = cross_val_score(model, x, y, cv=5) 
print("%0.2f accuracy with a standard deviation of %0.2f for knn normalized" % (scores.mean(), scores.std()))

Accuracy SVM :  0.9666666666666667
f1_score SVM :  0.9665634674922601
0.98 accuracy with a standard deviation of 0.02 for knn normalized