PART-1

In [2]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

        ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

        ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

        ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

      ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [14]:
import mlxtend
import pandas as pd
import numpy as np
import math
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

   Dress  Earrings    Hat  Heels  ...  Shirt  Skirt  Sneakers  Sunglasses
0  False     False   True  False  ...  False   True      True       False
1  False     False   True  False  ...  False   True      True        True
2   True     False  False   True  ...  False  False     False       False
3   True      True   True   True  ...  False  False     False       False
4  False      True  False  False  ...   True   True     False       False

[5 rows x 12 columns]

In [4]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

In [5]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Pants, Scarf)
5      0.6  (Pants, Skirt)

In [6]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)

  antecedents consequents  antecedent support  ...    lift  leverage  conviction
0     (Pants)     (Scarf)                 0.8  ...  0.9375     -0.04         0.8
1     (Scarf)     (Pants)                 0.8  ...  0.9375     -0.04         0.8
2     (Pants)     (Skirt)                 0.8  ...  1.2500      0.12         1.6
3     (Skirt)     (Pants)                 0.6  ...  1.2500      0.12         inf

[4 rows x 9 columns]

In [8]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.20)

  antecedents consequents  antecedent support  ...  lift  leverage  conviction
0     (Pants)     (Skirt)                 0.8  ...  1.25      0.12         1.6
1     (Skirt)     (Pants)                 0.6  ...  1.25      0.12         inf

[2 rows x 9 columns]

PART-2

In [22]:
data = pd.read_csv("/content/Market_Basket_Optimisation.csv",header=None)
data

                 0                  1   ...       18         19
0            shrimp            almonds  ...  spinach  olive oil
1           burgers          meatballs  ...      NaN        NaN
2           chutney                NaN  ...      NaN        NaN
3            turkey            avocado  ...      NaN        NaN
4     mineral water               milk  ...      NaN        NaN
...             ...                ...  ...      ...        ...
7496         butter         light mayo  ...      NaN        NaN
7497        burgers  frozen vegetables  ...      NaN        NaN
7498        chicken                NaN  ...      NaN        NaN
7499       escalope          green tea  ...      NaN        NaN
7500           eggs    frozen smoothie  ...      NaN        NaN

[7501 rows x 20 columns]

In [23]:
data=data.T.apply(lambda x: x.dropna().tolist()).tolist()

In [25]:
te=TransactionEncoder()
te_ary=te.fit(data).transform(data)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

       asparagus  almonds  antioxydant juice  ...   yams  yogurt cake  zucchini
0          False     True               True  ...   True        False     False
1          False    False              False  ...  False        False     False
2          False    False              False  ...  False        False     False
3          False    False              False  ...  False        False     False
4          False    False              False  ...  False        False     False
...          ...      ...                ...  ...    ...          ...       ...
7496       False    False              False  ...  False        False     False
7497       False    False              False  ...  False        False     False
7498       False    False              False  ...  False        False     False
7499       False    False              False  ...  False        False     False
7500       False    False              False  ...  False         True     False

[7501 rows x 120 columns]

In [26]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.05)

     support   itemsets
0   0.087188       (15)
1   0.081056       (17)
2   0.059992       (23)
3   0.163845       (25)
4   0.080389       (30)
5   0.051060       (31)
6   0.179709       (37)
7   0.079323       (40)
8   0.170911       (43)
9   0.063325       (48)
10  0.095321       (49)
11  0.052393       (51)
12  0.132116       (54)
13  0.098254       (55)
14  0.076523       (65)
15  0.129583       (71)
16  0.238368       (72)
17  0.065858       (81)
18  0.095054       (82)
19  0.071457       (97)
20  0.050527       (99)
21  0.174110      (100)
22  0.068391      (108)
23  0.062525      (110)
24  0.058526      (116)
25  0.052660   (72, 25)
26  0.050927   (72, 37)
27  0.059725  (72, 100)

In [29]:
frequent_itemsets = apriori(df, min_support=0.05, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

     support                    itemsets
0   0.087188                   (burgers)
1   0.081056                      (cake)
2   0.059992                   (chicken)
3   0.163845                 (chocolate)
4   0.080389                   (cookies)
5   0.051060               (cooking oil)
6   0.179709                      (eggs)
7   0.079323                  (escalope)
8   0.170911              (french fries)
9   0.063325           (frozen smoothie)
10  0.095321         (frozen vegetables)
11  0.052393             (grated cheese)
12  0.132116                 (green tea)
13  0.098254               (ground beef)
14  0.076523            (low fat yogurt)
15  0.129583                      (milk)
16  0.238368             (mineral water)
17  0.065858                 (olive oil)
18  0.095054                  (pancakes)
19  0.071457                    (shrimp)
20  0.050527                      (soup)
21  0.174110                 (spaghetti)
22  0.068391                  (tomatoes)
23  0.062525                    (turkey)
24  0.058526          (whole wheat rice)
25  0.052660  (mineral water, chocolate)
26  0.050927       (mineral water, eggs)
27  0.059725  (mineral water, spaghetti)

In [31]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.1)

       antecedents      consequents  ...  leverage  conviction
0  (mineral water)      (chocolate)  ...  0.013604    1.073256
1      (chocolate)  (mineral water)  ...  0.013604    1.122357
2  (mineral water)           (eggs)  ...  0.008090    1.043158
3           (eggs)  (mineral water)  ...  0.008090    1.062815
4  (mineral water)      (spaghetti)  ...  0.018223    1.102008
5      (spaghetti)  (mineral water)  ...  0.018223    1.159314

[6 rows x 9 columns]

In [33]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.05)

       antecedents      consequents  ...  leverage  conviction
0  (mineral water)      (chocolate)  ...  0.013604    1.073256
1      (chocolate)  (mineral water)  ...  0.013604    1.122357
2  (mineral water)           (eggs)  ...  0.008090    1.043158
3           (eggs)  (mineral water)  ...  0.008090    1.062815
4  (mineral water)      (spaghetti)  ...  0.018223    1.102008
5      (spaghetti)  (mineral water)  ...  0.018223    1.159314

[6 rows x 9 columns]

People who buy "Mineral Water" tend to also buy : "Chocolate", "Eggs" and "Spaghetti".